<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/js/bootstrap.min.js">
    <link rel="stylesheet" href="static/js/popper.min (1).js">
    <link rel="stylesheet" href="static/js/popper.min.js">
</head>

<body>
    {{ names }}
    <nav style="margin-top: 25px; margin-left: 45px;">
        <a class="btn btn-primary" href="{{ url_for('hom') }}">Add a quote</a>
    </nav>
    <br>
    <div class="container" theme-showcase role="main">
        <div style="color: yellow; background-color:green",class="jumbotron">
        <h1>Favourite Quotes</h1>
        </div>

        <div style="color: rgb(16, 36, 215); background-color:rgb(226, 46, 46)",class="jumbotron">
            <h1>Favourite Quotes</h1>
            </div>

            <div style="color: pink; background-color:black",class="jumbotron">
                <h1>Favourite Quotes</h1>
                </div>

    </div>



</body>
</html>