.nav_text_color{
    color: whitesmoke !important;
}

.nav_header{
    border-bottom: 3px solid rgb(255, 174, 0);
}

.text_1{
    color: rgb(255, 196, 0);
    text-align: center;
    font-size: 30px;
}

.text_3{
    color: white;
}

